.container {
    width: 100%;
    max-width: 103rem;
    margin: 0 auto;
    padding: 9rem 2rem;

    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.content {
    flex-grow: 1;
}